/*导航*/
.navbar-brand{
    line-height: 0;
}
.navbar-logo{
    margin-top: -8px;
}

/*新闻列表*/
.viewCount{
    display: inline-block;
    width: 70px;
    line-height: 70px;
    border: 1px solid #dddddd;
    text-align: center;
}
.line-limit-length {
	overflow: hidden;
	text-overflow: ellipsis;
	/*文本不换行，这样超出一行的部分被截取，显示...*/
	white-space: nowrap; 
}