<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单独展示</title>
    <style>
        img{
            width: 900px;
        }
        a{
            color: red;
        }
    </style>
</head>
<body>
    <h1>这张图的id是<%= image.id %></h1>
    <h3 style="width: 900px;text-align: right"><a href="/">返回</a></h3>
    <img src="<%= image.path  %>" alt="">
</body>
</html>