            <!--简介-->
            <div class="col-md-3">
                <div class="thumbnail">
                    <img class="img-responsive img-thumbnail" src="http://localhost:8888/img/introduce.jpg" data-src="holder.js/300x300" alt="...">
                    <div class="caption">
                        <h2>海贼王<sub>1999年</sub></h2>
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <dt class="small">地区：日漫</dt>
                                <!--<dd >日漫</dd>-->
                            </div>
                            <div class="col-xs-6 text-left">
                                <dt class="small">类型：动作/热血/冒险/魔幻/励志</dt>
                                <!--<dd>动作/热血/冒险/魔幻/励志 </dd>-->
                            </div>
                            <div class="col-xs-6 text-left">
                                <dt class="small">配音：田中真弓...</dt>
                                <!--<dd >田中真弓/中井和哉</dd>-->
                            </div>
                            <div class="col-xs-6 text-left">
                                <dt class="small">集数：<a class="blue" href="http://www.iqiyi.com/v_19rra471x0.html">更新至765</a></dt>
                                <!--<dd><a href="http://www.iqiyi.com/v_19rra471x0.html">更新至765</a></dd>-->
                            </div>
                            <div class="col-xs-12 text-left">
                                <dt>简介：</dt>
                                <dd>生长在东海风车村的路飞受到海贼香克斯的精神指引，决定成为一名出色的海贼。为了达成这个目标，并找到万众瞩目的One Piece，路飞踏上艰苦的旅程。一路上他遇到了无数磨难，也结识了索隆、娜美、乌索普、山治、罗宾等一众性格各异的好友。他们携手一同展开充满传奇色彩的大冒险。 </dd>
                            </div>
                        </div>
                        <p class="playBtn"><a href="http://www.iqiyi.com/v_19rra471x0.html" class="btn btn-primary " role="button">立即播放</a></p>
                    </div>
                </div>
            </div>