<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            background-color: red;
        }
        .blue{
            background-color: blue;
        }
        #box{
            width: 200px;
            height: 200px;
            -webkit-transition: background-color 2s;
            -moz-transition: background-color 2s;
            -ms-transition: background-color 2s;
            -o-transition: background-color 2s;
            transition: background-color 2s;
        }
    </style>
</head>
<body ng-app="myApp">

<div ng-controller="ListController">
    <ul>
        <li ng-repeat="per in list" ng-class="{red:per.name=='JK3',blue:$odd}">{{per.name + per.like}}</li>
        <!--<li ng-repeat="per in list" ng-class="{red:false,blue:true>{{per.name + per.like}}</li>-->
        <!--<li ng-repeat="per in list" ng-class="{red:$first,blue:$last}">{{per.name + per.like}}</li>-->
    </ul>
    <select name="" ng-model="style" id="">
        <option value="red">red</option>
        <option value="blue">blue</option>
    </select>
    <div ng-class="style" id="box"></div>
</div>


<script src="../bower_components/angular/angular.js" type="text/javascript"></script>
<script type="text/javascript">
    var app = angular.module("myApp",[]);
    app.controller("ListController",['$scope',function ($scope) {
        $scope.list = [
            {
                name: "JK1",
                like: "haha1"
            },{
                name: "JK2",
                like: "haha2"
            },{
                name: "JK3",
                like: "haha3"
            },{
                name: "JK4",
                like: "haha4"
            },{
                name: "JK5",
                like: "haha5"
            },{
                name: "JK6",
                like: "haha6"
            }
        ]
    }])
</script>
</body>
</html>