<h1 class="page-header">{{title}}</h1>
<div class="list-group">
    <a ng-repeat="movie in subjects" href="#" class="list-group-item">
        <div class="media">
            <div class="media-left" href="#">
                <img ng-src="{{movie.images.small}}" alt="{{movie.images.small}}">
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{ movie.title }}</h2>
                <p>导演: {{movie.directors[0].name}}</p>
            </div>
        </div>
    </a>
</div>
<!--分页-->
<p ng-show="!showLoading">当前第{{currentPage}}页 总共{{totalPageCount}}页</p>
<nav ng-show="!showLoading">
    <ul class="pager">
        <li><input ng-disabled="currentPage<=1" ng-click="goWhere(currentPage-1)" type="button" value="上一页"></input></li>
        <li><input ng-disabled="currentPage>=totalPageCount" ng-click="goWhere(currentPage+1)" type="button" value="下一页"></input></li>
    </ul>
</nav>

<!--加载动画-->
<div class="spinner" ng-show="showLoading">
    <div class="dot1"></div>
    <div class="dot2"></div>
</div>
