<script type="text/javascript" src="http://localhost:8080/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="http://localhost:8080/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>